@font-face {
  font-family: Entypo;
  src: url(Entypo/entypo.ttf);
}

.main-container {
  width: 100%;
  padding: 0;
}
.main-container div {
  margin: 0;
}
.main-container div section {
  padding: 0;
}
.main-container .row {
  position: relative;
  margin: 0;
}
.main-container .row section.col-sm-9 {
  width: 100%;
}
.main-container .row section.col-sm-9 .node, .main-container .row section.col-sm-9 .panel-display {
  width: 50%;
  margin: 0 auto;
  padding: 20px 0;
}
.main-container .row section.col-sm-9 .views-row-odd {
  background-color: #E5EAEB;
}
.main-container .row aside {
  position: absolute;
  right: -70px;
  top: 200px;
}
.main-container .view-event-calendar {
  width: 50%;
  margin: 0 auto;
}
.main-container .views-field-field-profile-image {
  width: 21%;
  float: left;
  margin-right: 10px;
}
.main-container .field-name-field-image {
  width: 21%;
  float: left;
  margin-right: 10px;
}
.main-container .field-name-body {
  font-size: 1.14286em;
  width: 80%;
}
.main-container .boxton-container p {
  width: 75%;
}

h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 3em;
  line-height: 1.78571em;
}
h2 a {
  color: #122E55;
}

.submitted {
  font-family: 'Josefin Sans', sans-serif;
  color: #122E55;
  font-size: 1.71429em;
  line-height: 2.07143em;
}

.page-header {
  background-color: #688188;
  margin: 0;
  padding: 20px 50px;
  color: #FFFFFF;
  font-family: 'Josefin Sans', sans-serif;
}

.breadcrumb {
  background-color: #688188;
  margin: 0;
  padding: 20px 50px;
  color: #FFFFFF;
  font-family: 'Josefin Sans', sans-serif;
  border-radius: 0;
}

.footer.container {
  background-color: #122E55;
  border-top: 5px solid #BAA54C;
  margin: 0;
  width: 100%;
  clear: both;
  margin-top: 30px;
  color: #FFFFFF;
}

.pagination {
  border-radius: 0;
}
.pagination li > a {
  border: 0;
}
.pagination li.first > a {
  border-radius: 0;
}
.pagination li.last > a {
  border-radius: 0;
}
.pagination li.active > a {
  background-color: #999999;
}

.logo img {
  height: 130px;
}

#navbar {
  border-bottom: 5px solid #BAA54C;
  margin: 0;
  background-color: #122E55;
}
#navbar .container ul {
  margin-top: 50px;
  margin-bottom: 10px;
}
#navbar .container .dropdown-menu {
  margin-top: 0;
  background-color: #122E55;
}
#navbar .navbar-brand, #navbar .navbar-brand:hover, #navbar .navbar-brand:focus {
  padding-top: 28px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.5em;
  line-height: 1.5em;
  color: #FFFFFF;
  width: 220px;
}
#navbar .navbar-nav {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.28571em;
}
#navbar .navbar-nav .active a, #navbar .navbar-nav .active a:hover, #navbar .navbar-nav .active a:focus {
  color: #BAA54C;
  background-color: #122E55;
}
#navbar .navbar-nav .leaf a, #navbar .navbar-nav .leaf a:hover, #navbar .navbar-nav .leaf a:focus, #navbar .navbar-nav .dropdown a, #navbar .navbar-nav .dropdown a:hover, #navbar .navbar-nav .dropdown a:focus {
  margin-left: 2px;
  padding: 10px;
  color: #FFFFFF;
}
#navbar .navbar-nav .leaf a:hover, #navbar .navbar-nav .leaf a:focus, #navbar .navbar-nav .dropdown a:hover, #navbar .navbar-nav .dropdown a:focus {
  color: #BAA54C;
}

.page-landing #block-system-main .container {
  width: 100%;
  padding: 0;
  margin: 0;
}
.page-landing #block-system-main .container .pane-content > div {
  position: relative;
}
.page-landing #block-system-main .container .pane-content .field-name-field-basic-image-caption {
  position: absolute;
  bottom: 30px;
  left: 100px;
  width: 46%;
}
.page-landing #block-system-main .container .pane-content .field-name-field-basic-image-caption p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 8.21429em;
  line-height: 100px;
  color: #FFFFFF;
}
.page-landing #block-system-main .container .pane-bundle-text {
  border-bottom: 5px solid #BAA54C;
}
.page-landing #block-system-main .container .pane-bundle-text p {
  font-size: 2.78571em;
  color: #BAA54C;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.page-landing #block-system-main .container .pane-bundle-image img {
  width: initial;
}

#block-views-give-landing-page-block, #block-views-stories-landing-page-block, #block-views-6823388f74ffe4a7df9c055136ffba75 {
  background-color: #122E55;
  font-family: 'Josefin Sans', sans-serif;
}
#block-views-give-landing-page-block .views-field-field-stories-image, #block-views-give-landing-page-block .views-field-field-statement-image, #block-views-stories-landing-page-block .views-field-field-stories-image, #block-views-stories-landing-page-block .views-field-field-statement-image, #block-views-6823388f74ffe4a7df9c055136ffba75 .views-field-field-stories-image, #block-views-6823388f74ffe4a7df9c055136ffba75 .views-field-field-statement-image {
  width: 128px;
  margin: 0 auto;
  margin-top: 60px;
}
#block-views-give-landing-page-block .views-field-field-title-link-to-stories, #block-views-give-landing-page-block .views-field-field-title-link-to, #block-views-stories-landing-page-block .views-field-field-title-link-to-stories, #block-views-stories-landing-page-block .views-field-field-title-link-to, #block-views-6823388f74ffe4a7df9c055136ffba75 .views-field-field-title-link-to-stories, #block-views-6823388f74ffe4a7df9c055136ffba75 .views-field-field-title-link-to {
  border-bottom: 5px solid #BAA54C;
  margin-bottom: 0;
}
#block-views-give-landing-page-block .views-field-field-title-link-to-stories a, #block-views-give-landing-page-block .views-field-field-title-link-to a, #block-views-stories-landing-page-block .views-field-field-title-link-to-stories a, #block-views-stories-landing-page-block .views-field-field-title-link-to a, #block-views-6823388f74ffe4a7df9c055136ffba75 .views-field-field-title-link-to-stories a, #block-views-6823388f74ffe4a7df9c055136ffba75 .views-field-field-title-link-to a {
  font-family: 'Josefin Sans', sans-serif;
  color: #FFFFFF;
  display: block;
  width: 250px;
  margin: 0 auto;
  text-align: center;
  background-color: #688188;
}
#block-views-give-landing-page-block .views-field-field-statement-title, #block-views-give-landing-page-block .views-field-field-stories-title, #block-views-give-landing-page-block .views-field-body, #block-views-stories-landing-page-block .views-field-field-statement-title, #block-views-stories-landing-page-block .views-field-field-stories-title, #block-views-stories-landing-page-block .views-field-body, #block-views-6823388f74ffe4a7df9c055136ffba75 .views-field-field-statement-title, #block-views-6823388f74ffe4a7df9c055136ffba75 .views-field-field-stories-title, #block-views-6823388f74ffe4a7df9c055136ffba75 .views-field-body {
  background-color: #FFFFFF;
}
#block-views-give-landing-page-block .views-field-field-statement-title .field-content, #block-views-give-landing-page-block .views-field-field-stories-title .field-content, #block-views-give-landing-page-block .views-field-body .field-content, #block-views-stories-landing-page-block .views-field-field-statement-title .field-content, #block-views-stories-landing-page-block .views-field-field-stories-title .field-content, #block-views-stories-landing-page-block .views-field-body .field-content, #block-views-6823388f74ffe4a7df9c055136ffba75 .views-field-field-statement-title .field-content, #block-views-6823388f74ffe4a7df9c055136ffba75 .views-field-field-stories-title .field-content, #block-views-6823388f74ffe4a7df9c055136ffba75 .views-field-body .field-content {
  width: 75%;
  margin: 0 auto;
  text-align: center;
  font-size: 4.28571em;
}
#block-views-give-landing-page-block .views-field-body, #block-views-stories-landing-page-block .views-field-body, #block-views-6823388f74ffe4a7df9c055136ffba75 .views-field-body {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 0.42857em;
}
#block-views-give-landing-page-block .views-field-body p, #block-views-stories-landing-page-block .views-field-body p, #block-views-6823388f74ffe4a7df9c055136ffba75 .views-field-body p {
  width: 75%;
  margin: 0 auto;
  padding: 5px;
}
#block-views-give-landing-page-block img, #block-views-stories-landing-page-block img, #block-views-6823388f74ffe4a7df9c055136ffba75 img {
  width: initial;
}

#block-views-stories-block-block .view-content {
  width: 95%;
  margin: 0 auto;
}
#block-views-stories-block-block .views-row {
  width: 33%;
  float: left;
}
#block-views-stories-block-block .views-row h2 {
  font-size: 1.42857em;
}

#block-views-landing-page-donate-block-block {
  width: 75%;
  margin: 0 auto;
  padding: 10px;
}
#block-views-landing-page-donate-block-block .views-row {
  width: 33%;
  float: left;
}
#block-views-landing-page-donate-block-block .views-row a {
  width: 50%;
  font-size: 3.57143em;
  font-family: 'Josefin Sans', sans-serif;
  display: block;
  margin: 0 auto;
}
#block-views-landing-page-donate-block-block .views-row img {
  display: block;
  width: 70px;
  margin: 0 auto;
}

.links.list-inline {
  clear: both;
  padding: 20px;
}

#comments {
  clear: both;
}

/* readmore link styling */
.node-readmore {
  float: right;
  width: 105px;
  height: 50px;
  background-color: #688188;
  border: 3px solid #BAA54C;
  padding: 10px;
  margin-right: 150px;
}

.node-readmore > a {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  line-height: 38px;
  color: #FFFFFF;
  text-align: center;
  display: block;
  font-weight: 600;
}
